<main>
    <header>
        <h1>Sales List</h1>

        <button (click)="openForm()" matTooltip="Add sale">
            <mat-icon>add</mat-icon>
            <span>Add sale</span>
        </button>
    </header>

    <section class="search-input">
        <mat-form-field appearance="outline">
            <mat-label>Search a sale</mat-label>
            <input 
                id="value-to-search" 
                matInput type="search" 
                maxlength="30" 
                autocomplete="off" 
                (keyup)="searchSale($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </section>

    <section class="customers-table">
        <app-table />
    </section>
</main>