<main>
    <div class="mat-elevation-z8" [hidden]="sales.length === 0">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="serviceOrPackage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Service/Package </th>
                <td mat-cell *matCellDef="let row"> {{row.touristServiceName ? row.touristServiceName : row.tourPackageName }} </td>
            </ng-container>

            <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
                <td mat-cell *matCellDef="let row"> {{row.customerName}} </td>
            </ng-container>

            <ng-container matColumnDef="paymentMethod">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment method </th>
                <td mat-cell *matCellDef="let row"> {{row.paymentMethod}} </td>
            </ng-container>

            <ng-container matColumnDef="commission">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Commission (%) </th>
                <td mat-cell *matCellDef="let row"> {{row.commissionPercentage}}% </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let row"> ${{row.price}} </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Commission total </th>
                <td mat-cell *matCellDef="let row"> ${{row.commisionTotal}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter</td>
            </tr>
        </table>

        <mat-paginator 
            [pageSizeOptions]="[5, 10, 25, 100]"
            showFirstLastButtons
            aria-label="Select page of users">
        </mat-paginator>
    </div>

    <div class="no-data" *ngIf="sales.length === 0">
        <h1>No sales found</h1>
    </div>
</main>