<main>
    <div class="go-back-btn" *ngIf="tourPackageId">
        <mat-icon 
            class="go-back-icon"
            matTooltip="Go back" 
            routerLink="/home/dashboard/packages"
        >
            arrow_back
        </mat-icon>
    </div>

    <section class="services">
        <div class="content">
            <h2>
                <mat-icon>shopping_cart</mat-icon>
                <span>Buy a package</span>
            </h2>

            <div class="error" *ngIf="(submitted && form.hasError('serviceOrPackageRequired'))">
                <mat-error>You must select a package o a service</mat-error>
            </div>

            <div class="forms">
                <div class="service">
                    <form [formGroup]="form" autocomplete="off">
                        <div class="field">
                            <mat-form-field appearance="outline">
                                <mat-label>Select a package</mat-label>
                                <mat-select (selectionChange)="onSelectPackage()" formControlName="tourPackage">
                                    @for(item of tourPackages; track item.id) {
                                        <mat-option [value]="item">{{ item.name }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="field">
                            <app-select-input 
                                [form]="form" [formField]="formFields[0]" 
                                [elements]="employees" [elementNames]="employeeNames"
                            />

                            <div *ngIf="(form.controls['employee'].invalid && form.controls['employee'].touched) || 
                                (submitted && form.controls['employee'].invalid)">
                                <mat-error>You must select a value</mat-error>
                            </div>
                        </div>

                        <div class="field">
                            <app-select-input 
                                [form]="form" [formField]="formFields[1]" 
                                [elements]="paymentMethods" [elementNames]="paymentMethodNames"
                            />

                            <div *ngIf="(form.controls['paymentMethod'].invalid && form.controls['paymentMethod'].touched) || 
                                (submitted && form.controls['paymentMethod'].invalid)">
                                <mat-error>You must select a value</mat-error>
                            </div>
                        </div>
                    </form>

                    <fieldset class="service-info" *ngIf="showDetails">
                        <legend *ngIf="showServiceInfo">Service details</legend>
                        <legend *ngIf="showPackageInfo">Package details</legend>

                        @let service = touristServices[serviceSelected];
                        @let package = tourPackages[packageSelected];

                        <span class="name" *ngIf="showServiceInfo">{{ service?.name?.toUpperCase() }}</span>
                        <span class="name" *ngIf="showPackageInfo">{{ package?.name?.toUpperCase() }}</span>

                        <div class="more-details" *ngIf="showServiceInfo">
                            <div class="side">
                                <img [src]="getServiceImage(service.id)" alt="">
                            </div>

                            <div class="side left">
                                <span><small>{{ service?.description }}</small></span>
                                <span><small>Go to {{ service?.destination }}</small></span>
                                <span><small>{{ getParsedDate(service.date.toString()) }}</small></span>
                                <span><small>${{ service?.price }}</small></span>
                            </div>
                        </div>

                        <div class="more-details" *ngIf="showPackageInfo">
                            <div class="side">
                                <span><small>
                                    <strong>Services included</strong>
                                </small></span>
                                <ul>
                                    <li *ngFor="let services of package.touristServices">{{ services.name }}</li>
                                </ul>
                                <strong><small>
                                    Total: ${{ package.price }}
                                </small></strong>
                            </div>

                            <div class="side left">
                                <span>
                                    
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="packages" [ngClass]="!showDetails ? 'set-height' : ''">
                    <header *ngIf="touristServicesToShow.length !== 0">
                        <h4>Recommended services</h4>
                    </header>

                    <div class="all-packages"> 
                        @for(item of touristServicesToShow; track item.id) {
                            <div 
                                class="package" 
                                (click)="onSelectService(item.id)" 
                                [class.select-package]="scaleServiceSelectedId === item.id"
                                [matTooltip]="scaleServiceSelectedId === item.id ? 'Unselect service' : 'Select service'"
                                *ngIf="touristServicesToShow.length !== 0"
                            >  
                                <span>
                                    <strong>{{ item.name.toUpperCase() }}</strong>
                                </span>

                                <span><small>
                                    <strong>Description: </strong> {{ item.description }}
                                </small></span>

                                <span>
                                    <small>Go to {{ item.destination }}</small>
                                </span>

                                <span><small>
                                    <strong>Total: ${{ item.price }}</strong>
                                </small></span>
                            </div>
                        }   
                    </div>

                    <span class="no-packages" *ngIf="touristServicesToShow.length === 0">
                        <mat-icon>question_mark</mat-icon>
                        <strong><small>No services found</small></strong>
                    </span>
                </div>
            </div>

            <button (click)="submitForm()">
                <mat-icon>shopping_cart</mat-icon>
                <span>Get package/service</span>
            </button>
        </div>
    </section>
</main>