<main>
    <nav>
        <header class="navbar">
            <h1>
                <a routerLink="/">Tourist Agency</a>
            </h1>
        </header>

        <section>
            <ul>
                <li>
                    <a routerLink="/login" routerLinkActive="highlight">Login</a>
                </li>

                <li>
                    <a class="sign-up-link" routerLink="/sign-up" routerLinkActive="highlight">Sign up</a>
                </li>
            </ul>
        </section>
    </nav>
</main>